<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="triangle" class="com.topyfi.javabrains.Triangle" > 
		<property name="pointA" ref="pointA" />
		<property name="pointB" ref="pointB" />
		<property name="pointC" ref="pointC" />
	</bean>
	
	<bean id="pointA" class="com.topyfi.javabrains.Point">
		<property name="x" value="${pointA.pointX}" />
		<property name="y" value="${pointA.pointY}" />
	</bean>
	<bean id="pointB" class="com.topyfi.javabrains.Point">
		<property name="x" value="-20" />
		<property name="y" value="0" />
	</bean>
	<bean id="pointC" class="com.topyfi.javabrains.Point">
		<property name="x" value="23 " />
		<property name="y" value="0" />
	</bean>
	
	<!--  <bean class="com.topyfi.javabrains.DisplayNameBeanPostProcessor" /> -->
	<!--  <bean class="com.topyfi.javabrains.MyBeanFactoryPP" /> -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" >
		<property name="locations" value="pointsconfig.property" />
	</bean>

</beans>





